body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

.container {
    display: flex;
    flex-direction: column; /* Alinha as seções verticalmente */
    align-items: center;
}

.profile-section {
    display: flex; /* Alinha a imagem e o texto lado a lado */
    align-items: flex-start; /* Alinha a imagem e o texto ao topo */
    margin: 20px; /* Margem ao redor da seção */
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 8px;
}

.profile-section img {
    max-width: 300px; /* Limita a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.profile-text {
    max-width: 600px; /* Limita a largura do texto */
}

.achievements-section {
    margin: 20px; /* Margem para a seção de conquistas */
}

.card {
    max-width: 200px; /* Define uma largura máxima para os cards */
    margin: auto; /* Centraliza o card dentro da coluna */
    min-height: 150px;
    text-align: center;
}

.card-img-top {
    max-height: 200px; /* Limita a altura da imagem do card */
    object-fit: cover; /* Faz com que a imagem cubra a área sem distorcer */
}

.row {
    justify-content: center; /* Centraliza os cards na linha */
}

.projects-section {
    margin: 20px; /* Margem para a seção de projetos */
    width: 100%; /* Garante que a seção ocupe toda a largura disponível */
}

.project-container {
    display: flex; /* Alinha os projetos lado a lado */
    flex-wrap: wrap; /* Permite que os projetos quebrem para a linha seguinte, se necessário */
    justify-content: space-between;
}

.project {
    flex: 1 1 30%;
    margin: 10px; /* Margem entre os projetos */
    text-align: center; /* Centraliza o texto abaixo da imagem */
    min-width: 150px;
}

.project img {
    max-width: 100px; /* Tamanho fixo para as imagens dos projetos */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 5px; /* Espaço abaixo da imagem */
}