body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column; /* Alinha as seções verticalmente */
    align-items: center;
    background-color: #fff;
}

.profile-section {
    display: flex; /* Adiciona o display flex */
    align-items: flex-start; /* Alinha a imagem e o texto ao topo */
    margin-bottom: 40px; /* Espaçamento inferior */
}

.profile-section img {
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.profile-text {
    max-width: 600px; /* Limita a largura do texto */
}

.achievements-section, .projects-section, .data-overview-section {
    width: 100%; /* Garante que as seções ocupem toda a largura */
    padding: 20px;
    background-color: #eaeaea;
    margin-bottom: 20px; /* Espaçamento entre seções */
}

.achievement, .project {
    display: flex; /* Adiciona o display flex */
    align-items: center; /* Alinha verticalmente ao centro */
    margin-bottom: 10px; /* Espaçamento entre conquistas e projetos */
}

.achievement img, .project img {
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

.data-overview {
    display: flex; /* Adiciona o display flex */
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: flex-start; /* Alinha à esquerda */
}

.data-overview-section .data-overview button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.data-overview-section .data-overview input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chart {
    margin-top: 20px; /* Espaçamento superior para o gráfico */
}

.chart img {
    width: 100%;
    max-width: 600px;
}